@import "src/assets/styles/mixin.scss";

.container-tre-repository {
display: flex;
width: 100%;
height: calc(100vh - 150px);
flex-direction: column;
.diagram-component {
  width: 100%;
  height: 70%;
border: 1px solid #a9a9b3;
border-radius: rem(10);
}
}